.footer {
  font-weight: 100;
  color: white;
}
.header {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 200px;
}
.footer-info {
  font-size: 40px;
  text-align: center;
}
.footer-social {
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(6, 1fr);
  width: 70%;
  margin: 40px auto 100px;
}
.footer-social div:hover,
.footer--moreInfo div:hover {
  cursor: pointer;
}
.footer--end {
  background-color: white;
  height: 7vh;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  font-weight: 500;
}
.footer--moreInfo {
  display: flex;
  width: 25%;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .footer-social {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: 20px;
  }
  .footer-info {
    font-size: 20px;
  }
  .footer--end {
    flex-direction: column-reverse;
    background-color: black;
    color: white;
    font-weight: 100;
  }
  .footer--moreInfo {
    flex-direction: column;
    width: 40vw;
    align-items: center;
    margin-bottom: 30px;
  }
  .footer--company {
    font-weight: 700;
  }
}
.red {
  color: red;
}
