.header-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  min-height: 90vh;
}
.header {
  font-size: 7em;
  text-align: center;
  width: 60%;
  line-height: 6rem;
  margin-bottom: 20px;
}
.header-content {
  text-align: center;
  width: 55%;
  font-size: 23px;
  color: #bababa;
}
@media (max-width: 800px) {
  .header-container {
    width: 100vw;
    margin: 0;
  }
  .header {
    width: 100%;
    font-size: 3em;
    line-height: 4rem;
  }
  .header-content {
    width: 74%;
    font-size: 16px;
    margin-bottom: 100px;
  }
}
