.header-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  min-height: 90vh;
}
.header {
  font-size: 7em;
  text-align: center;
  width: 60%;
  line-height: 6rem;
  margin-bottom: 20px;
}
.header-content {
  text-align: center;
  width: 55%;
  font-size: 23px;
  color: #bababa;
}
