.item-container {
  background-color: white;
  width: 50vw;
  height: 50vw;
  overflow: hidden;
}
.item-img {
  width: 100%;
  height: 100%;
}
.item-container--overflow:hover {
  transform: translateY(-200px);
  transition: transform 1s ease;
}
.item-container--overflow {
  width: 100%;
  height: 100%;
}
